<!DOCTYPE html>
<html>

<head>
	<link href="../apps/css/custom-style.css" rel="stylesheet" type="text/css">

	<style>
		input.wizard-title {
			border:2px solid rgb(47, 54, 153);
			border-radius: 5px;
			font-size: 22px;
			margin: 0px;
			padding:10px;
			width: 400px;
			height: 35px;
		}

		input.wizard-title-error {
			border:2px solid rgb(255, 0, 0);
			border-radius: 5px;
			font-size: 22px;
			margin: 0px;
			padding:10px;
			width: 400px;
			height: 35px;
		}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102299452-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-102299452-4');
	</script>
</head>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

<!-- Message and error alerts
================================================== -->
<%= ERB.new(File.read(File.expand_path("./views/templates/head.erb"))).result(binding) %>
<!-- / Message and error alerts -->

<body class=" default-layout wysihtml5-supported" style>
	<!-- Main navigation bar
		================================================== -->
	<%= ERB.new(File.read(File.expand_path("./views/templates/header.erb"))).result(binding) %>
	<!-- / Main navigation bar -->

	<!-- Left navigation panel
		================================================== -->
	<%= ERB.new(File.read(File.expand_path("./views/templates/leftbar.erb"))).result(binding) %>
	<!-- / Left navigation panel -->

	<!-- Page content
		================================================== -->
	<section class="container">

		<!-- Content here
			================================================== -->
		<%=yield%>
		<!-- / Content here -->

		<!-- Page footer
			================================================== -->
		<%= ERB.new(File.read(File.expand_path("./views/templates/footer.erb"))).result(binding) %>
		<!-- / Page footer -->
	</section>


	<script>
    var infos = [];
    var valid = $('#valid');
    var modal = $('#addModal');
    var modal_type = $('#modal-type');
    var modal_input = $('#modal-input');
    var modal_source = $('#modal-sources');
    var alert_error = $('#modal-alert-error');
    var alert_success = $('#modal-alert-success');
    var alert_success_create = $('#modal-alert-success-create');

    $(window).keydown(function (event) {
        if (event.keyCode === 27) {
            dismissModal();
        }
    });

    modal.keypress(function (event) {
        if (event.keyCode === 27) {
            if (window === modal) {
                dismissModal();
            }
        }
    });

    $('#modal-cancel').keyup(function (event) {
        if (event.keyCode === 9) {
            modal_type.focus();
        }
    });

    modal_input.focusout(function (e) {
        var data = $(this).val();
        var type = modal_type.val();

        url = "./filter_responses_validate_append_data_format?data=" + data + "&t=" + type;

        fetch(url).then(function (response) {
            return response.json();
        }).then(function (json) {
            if (json['valid'] === true) {
                valid.text('correct');
                alert_success.prop('hidden', false);
                alert_success.fadeIn(1000);
                setTimeout(function () {
                    alert_success.fadeOut(2000);
                });
                if (alert_error.prop('hidden') === false) {
                    alert_error.prop('hidden', true);
                }
            } else {
                valid.text('error');
                alert_error.prop('hidden', false);
                if (alert_success.prop('hidden') === false) {
                    alert_success.prop('hidden', true);
                }
            }
        }).catch(function (error) {
            console.error(error);
        });
    });

    function showModal() {
        modal.css('display', 'block');
        modal_type.focus();
        if (alert_error.prop('hidden') === false) {
            alert_error.prop('hidden', true);
        }
        if (alert_success.prop('hidden') === false) {
            alert_success.prop('hidden', true);
        }
    }

    function saveDataModal() {
        if (valid.text() === 'correct') {
            if (modal_source.val() !== '') {
                var t = modal_type.val();
                var d = modal_input.val();
                var s = modal_source.val();
                var rid = $('#rid').val().toString().replace('{','').replace('}','');
                url = './filter_responses_create_append?type=' + t + '&data=' + d + '&sources=' + s + '&rid=' + rid;
                fetch(url).then(function (response) {
                    return response.json();
                }).then(function (json) {
                    clearInputs();
                    if (json['action'] === true) {
                        alert_success_create.fadeOut(4000);
                    } else {
                        alert_error.fadeOut(4000);
                    }
                }).catch(function (error) {
                    console.error(error);
                })
            }
        }
    }

    function clearInputs() {
        modal_type.val('');
        modal_input.val('');
        modal_source.val('');
        modal_type.focus();
    }

    function dismissModal() {
        modal.css('display', 'none');
        modal_type.val('');
        modal_input.val('');
        modal_source.val('');
    }
</script>

</body>
</html>
