<%#

  # q0 = "
	# SELECT l.id as id
	# FROM \"fl_lead\" l
	# WHERE l.delete_time IS NULL
	# AND u.name LIKE '%#{"h".to_s.to_sql}%'
	# AND u.email LIKE '%#{"h".to_s.to_sql}%'
	# AND COALESCE(u.phone, '') LIKE '%#{"0".to_s.to_sql}%'
  # "

  # # query to bring page rows
  # q = "
  # #{q0}
	# ORDER BY #{order_column} #{order_direction}
	# LIMIT #{page_number*page_size}
	# OFFSET #{(page_number.to_i - 1) * page_size.to_i}
  # "

  # # build the array of objects
  # leads = []
  # DB[q].each { |row|
  #   lead = Leads::FlLead.where(:id=>row[:id]).first
  #   raise "Lead `#{row[:id]}` not found" if lead.nil?
  #   leads << lead
  #   # release resources on each iteration
  #   GC.start
  #   DB.disconnect
  # }

%>



<section class="container box">
  <section class="row-fluid">
    <section class='span6'>
      <%=nav1("Results")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <!-- TODO: add buttons here -->
      <button class="btn btn-success">Get Free Credits</button>
      <button class="btn btn-primary">Search</button>
    </section>
	</section>

  <br><br>

  <form id="search-form" action="/leads/filter_results" method="post">

    <section class="row-fluid">
      <section class="span4">
        <div id='job_title'></div>
      </section>
      <section class='span8' style='text-align:right;'>
        <button type="button" class="btn btn-cyan" data-toggle="modal" data-target=".export_leads">Exports Leads</button>
      </section>
    </section>

    <section class="row-fluid">
      <section class="span4">
        <div id='locations'></div>
      </section>
      <section class='span8' style="padding-left: 5%">
        <h3> <span id="total-results" style="background: black; color: white">500</span> No. of Results </h3>
        <h3> <span style="background: black; color: white">500</span> No. of Companies </h3>
      </section>
    </section>

    <section class="row-fluid">
      <section class="span4">
        <div id='industry'></div>
        <button id="reset-filters" class="btn btn-danger">Clear Filter</button>
        <button id="search-btn" class="btn btn-primary" type="submit">Search</button>
      </section>
      <section class='span8' style='text-align:right;'>
        <table id="results-table" class="table table-bordered">
          <thead>
          <tr>
            <div class="pull-right">
              <div class="span8">
                <input type='text' class='input-block-level select-all-on-focus' id='search_filter' name='search_filter'/>
              </div>

              <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
                <i class='icon-search'></i> Search
              </button>
            </div>
          </tr>
          <tr>
            <th>Name <i class="icon-sort-up"></i></th>
            <th>Position </th>
            <th>Location</th>
            <th>Email</th>
            <th>Phone No.</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>10 Jun 2019 12:30pm</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
          </tr>
          </tbody>
        </table>
        <div class="pagination"></div>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".save_modal">Save Search</button>
      </section>
    </section>

  </form>
</section>


<!-- Modal Exports Leads-->
<div class="modal fade export_leads" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Exports Contacts</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">Contacts per Company</div>
    <div class="radio">
      <label><input type="radio" name="optradio" checked>Multiple (Recommended)</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" >One</label>
    </div>
    <div style="margin-top: 5px;">Total Contacts </div>
    <div>
      <div class="radio">
        <label><input type="radio" name="optradio1">Export only first <input type="text" name="no_of_contacts" placeholder="102">
          contacts</label>
      </div>
    </div>
    <div class="row-fluid">Name your file
      <input type="text" name="file_name" placeholder="sample">
      .csv
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>
<!-- Modal Save Search-->
<div class="modal fade save_modal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save this search</h3>
  </div>
  <form action="/leads/filter_save_search" method="post"></form>
      <div class="modal-body">
        <p>Enter description for saved search</p>
        <div class="span12">
          <input type="hidden" id="search-id" name="search-id">
          <input class="span11" placeholder="Name" name="search-name" rows="3" id="search-name"/>
        </div>
        <br>
        <div class="span12">
          <textarea class="span11" placeholder="Description" name="description" rows="3" id="description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <button type="submit" id="save-search" class="btn btn-primary">Save</button>
      </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">

    let job_title = document.getElementById('job_title');
    let locations = document.getElementById('locations');
    let industry = document.getElementById('industry');


    let industries_hash = []
    <% Leads::FlIndustry.all.each do |industry| %>
        industries_hash["<%= industry.name %>"] =  "<%= industry.id %>"
    <% end %>

    let locations_hash = {};
    <% Leads::FlLocation.all.each do |location| %>
        locations_hash["<%= location.name %>"] = "<%= location.id %>"
    <% end %>

    filtersJs.draw(job_title, {
        label: "Job Title",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
    });


    filtersJs.draw(locations, {
        label: "Locations",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
        allowed_values: Object.keys(locations_hash),
    });

    filtersJs.draw(industry, {
        label: "Industry",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
        allowed_values: Object.keys(industries_hash),
    });

    // $(job_title).find('#keyword').on('change', function() {
    //     console.log('yeah');
    //     if (filtersJs.getPositiveValues(job_title).length > 0) {
    //         $("#search-btn").removeAttr("disabled");
    //     }
    // });

    $(document).ready(function () {
        $("#search-form").submit(function (event) {

            event.preventDefault();

            let job_positions_positive = filtersJs.getPositiveValues(job_title);
            let job_positions_negative = filtersJs.getNegativeValues(job_title);

            let locations_positive = jQuery.map( filtersJs.getPositiveValues(locations), function( a ) {
                return locations_hash[a.trim()];
            });
            let locations_negative = jQuery.map( filtersJs.getNegativeValues(locations), function( a ) {
                return locations_hash[a.trim()];
            });

            let industries_positive = jQuery.map( filtersJs.getPositiveValues(industry), function( a ) {
                return industries_hash[a.trim()];
            });
            let industries_negative = jQuery.map( filtersJs.getNegativeValues(industry), function( a ) {
                return industries_hash[a.trim()];
            });

            let formData = {
                job_positions_positive: job_positions_positive,
                job_positions_negative: job_positions_negative,
                locations_positive: locations_positive,
                locations_negative: locations_negative,
                industries_positive: industries_positive,
                industries_negative: industries_negative,
            };
            $.ajax({
                type: "POST",
                url: "/leads/filter_results",
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                if (data) {
                    $("#search-id").val(data["search_id"]);
                    $("#total-results").html(`${data["leads"].length}`)
                    $("#results-table > tbody").empty();
                    data["leads"].forEach(function (item) {
                        let row = $('<tr>');
                        row.append($('<td>').text(item.name));
                        row.append($('<td>').text(item.position));
                        row.append($('<td>').text(item.stat_location_name));
                        row.append($('<td>').text('test@gmail.com'));
                        row.append($('<td>').text('+923234454565'));
                        $('#results-table').append(row);
                    });
                }
            });

        });
        $("#save-search").on('click', function () {

            let formData = {
                name: $('#search-name').val(),
                description: $('#description').val(),
                search_id: $('#search-id').val()
            };

            $.ajax({
                type: "POST",
                url: "/leads/filter_save_search",
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
                $('.save_modal').modal('hide');
            });

        });

    });

    $('#reset-filters').on('click', function () {
       window.location.reload();
    });

    // draw pagination
    function drawPagination(o, current_page, total_pages) {
        url = '?number='; // url to get the next page

        o.html("");
        u = $("<ul></ul>");
        o.append(u);

        if (current_page>1) {
            li = $('<li><a href="'+url+(current_page-1).toString()+'">Prev</a></li>');
        } else {
            li = $('<li class="disabled"><a href="#">Prev</a></li>')
        }
        u.append(li);

        i=1
        i_prev = 1
        while (i<=total_pages) {
            if (i==current_page) {
                sClassActive="class='active'"
            } else {
                sClassActive=""
            }
            if ( i==1 || i==total_pages || (i>=current_page-2 && i<=current_page+2) ) {
                if (i>i_prev+1) {
                    li = $('<li><span>...</span></li>')
                    u.append(li)
                }
                li = $('<li '+sClassActive+'><a href="'+url+i.toString()+'">'+i.toString()+'</a></li>')
                u.append(li)
                i_prev=i
            }
            i=i+1
        }

        if (current_page<total_pages) {
            i = $('<li><a href="./'+url+(current_page+1).toString()+'">Next</a></li>');
        } else {
            i = $('<li class="disabled"><a href="#">Next</a></li>')
        }
        u.append(i);
    }

<!--    drawPagination($(".pagination"), <%#=page_number%>, <%#=1%>);-->
</script>