<%
# creating a dummy search, in case that user has not any preference yet.
# such a dummy search won't never be saved in the database.
s = Leads::FlSearch.new ({
    'name' => 'dummy',
    'description' => 'This search should never be saved in the database.',
    'id_user' => @login.id_user,
    'saved' => false,
    'no_of_results' => -1, # unknown - no matters
    'no_of_companies' => -1, # unknown - no matters
    'positions' => [],
    'locations' => [],
    'industries' => [],
})

# getting the search
sid = @login.user.preference("leads.results.filter.positive_positions", '', params[:sid])

# if the user has preference for any past search, then I use such a search
# if the user has not preference for any past search, then I keep the dummy search defined above.
s = Leads::FlSearch.where(:id=>sid).first if sid.to_s.guid?

# defining positive filters, to show in the hidden fields
positive_positions = s.positions.select { |p| p.positive }.map { |p| p.value }.join(',') 
positive_industries = s.industries.select { |p| p.positive }.map { |i| i.fl_industry.name }.join(',') 
positive_locations = s.locations.select { |p| p.positive }.map { |l| l.value }.join(',') 

# defining negative filters, to show in the hidden fields
negative_positions = s.positions.select { |p| !p.positive }.map { |p| p.value }.join(',') 
negative_industries = s.industries.select { |p| !p.positive }.map { |i| i.fl_industry.name }.join(',') 
negative_locations = s.locations.select { |p| !p.positive }.map { |l| l.value }.join(',') 

# getting the page number
page_number = @login.user.preference("leads.results.filter.pagination.page", 1, params[:number].nil? ? nil : params[:number].to_i)

# define the pagination setting
i = {
  'page' => page_number,
  'pagesize' => 25,
  'sortcolumn' => 'id',
  'sortorder' => 'asc',
}

# getting rows
rows = s.rows(i)

# getting pagination status
status = s.status(i)
%>

<div class="mynavbar mysticky">
  <section class="row-fluid">
    <div class="span6">
      <%=nav2("Leads", "/leads/landing", "Results")%>
    </div>
    <div class="span6" align="right" style="text-align: right;alignment-adjust: right; margin-left: 0;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".save_modal">Save Search</button>
      <button type="button" class="btn btn-cyan" data-toggle="modal" data-target=".export_leads">Exports Leads</button>
    </div>
  </section>
</div>

<section class='row-fluid'>
  <form id="filters-form" action="/leads/filter_results" method="post">
    <input class="input input-block-level" id="positive_positions" name="positive_positions" value="<%= positive_positions.to_s.encode_html%>" />
    <input class="input input-block-level" id="positive_industries" name="positive_industries" value="<%= positive_industries.to_s.encode_html%>" />
    <input class="input input-block-level" id="positive_locations" name="positive_locations" value="<%=positive_locations.to_s.encode_html%>" />

    <input class="input input-block-level" id="negative_positions" name="negative_positions" value="<%= negative_positions.to_s.encode_html%>" />
    <input class="input input-block-level" id="negative_industries" name="negative_industries" value="<%= negative_industries.to_s.encode_html%>" />
    <input class="input input-block-level" id="negative_locations" name="negative_locations" value="<%=negative_locations.to_s.encode_html%>" />

    <button type="submit" class="btn btn-link">Search</button>
  </form>
</section>

<section class="row-fluid">
  <section class='span4 box'>
    <div id='positions'></div>
    <div id='industries'></div>
    <div id='locations'></div>
  </section>

  <section class='span8 box'>
    <p><b>Records:</b> <%=status['row_from'].to_label%> to <%=status['row_to'].to_label%> <b>of</b> <%=status['total_rows'].to_label%></p>
    <table id="results-table" style="table-layout: fixed; width: 100%;" class="table table-striped">
      <thead>
        <th style="width:90px;">Name</th>
        <th style="width:auto;">Position</th>
        <th style="width:auto;">Company</th>
        <th style="width:90px;">Industry</th>
        <th style="width:90px;">Location</th>
        <th style="width:32px;text-align:right;">Emails</th>
        <th style="width:32px;text-align:right;">Phones</th>
      </thead>
      <tbody>
        <%
        rows.each do |row|
        %>
        <tr>
          <td class="fix" title="<%=row[:name].to_s.encode_html%>"><%=row[:name].to_s.encode_html%></td>
          <td class="fix" title="<%=row[:position].to_s.encode_html%>"><%=row[:position].to_s.encode_html%></td>
          <td class="fix" title="<%=row[:stat_company_name].to_s.encode_html%>"><%=row[:stat_company_name].to_s.encode_html%></td>
          <td class="fix" title="<%=row[:stat_industry_name].to_s.encode_html%>"><%=row[:stat_industry_name].to_s.encode_html%></td>
          <td class="fix" title="<%=row[:stat_location_name].to_s.encode_html%>"><%=row[:stat_location_name].to_s.encode_html%></td>
          <td class="fix" title="<%=row[:stat_has_email].to_s.encode_html%>" style="text-align:right;"><%=row[:stat_has_email].to_s%></td>
          <td class="fix" title="<%=row[:stat_has_phone].to_s.encode_html%>" style="text-align:right;"><%=row[:stat_has_phone].to_s%></td>
        </tr>
        <%
        end
        %>
      </tbody>
    </table>
    <div class="pagination"></div>
    <script>
      drawPagination($(".pagination"), <%=page_number%>, <%=status['total_pages']%>);
    </script>
    <br>
  </section>
</section>

<!-- Modal Exports Leads-->
<div class="modal fade export_leads" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Exports Contacts</h3>
  </div>
  <form action="/leads/filter_export_contacts" method="post">
    <div class="modal-body">
      <div class="row-fluid">Contacts per Company</div>
      <div class="radio">
        <label><input type="radio" name="optradio" checked>Multiple (Recommended)</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio" >One</label>
      </div>
      <div style="margin-top: 5px;">Total Contacts </div>
      <div>
        <div class="radio">
          <label>
            <input type="checkbox" id="export_checkbox">
            <input type="hidden" id="export_only" name="export_only">
            Export only first
            <input type="text" id="no_of_contacts" name="no_of_contacts" placeholder="102">
            contacts</label>
        </div>
      </div>
      <div class="row-fluid">Name your file
        <input type="text" id="file_name" name="file_name" placeholder="sample">
        .csv
      </div>
      <input type="hidden" name="total-rows" value="<%=status['total_rows']%>">
      <input type="hidden" name="position" id="e-position">
      <input type="hidden" name="industry" id="e-industry">
      <input type="hidden" name="location" id="e-location">
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Close</a>
      <button type="submit" id="save-export" disabled class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
 
<!-- Modal Save Search -->
<div class="modal fade save_modal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save this search</h3>
  </div>
  <form action="/leads/filter_save_search" id="search-form" method="post" class="form-horizontal">
      <div class="modal-body">
          <label  for="inputName">Name <i>(required)</i></label>
          <input type="text" style="width: 97%" required id="inputName" maxlength="255" name="search-name" placeholder="Name">
        <br><br>
          <label for="inputDescription">Description</label>
          <textarea name="search-description" style="width: 97%" placeholder="Description" maxlength="2000" id="inputPassword" cols="30" rows="10"></textarea>
          <input type="hidden" name="total-rows" value="<%=status['total_rows']%>">
          <input type="hidden" name="position" id="f-position">
          <input type="hidden" name="industry" id="f-industry">
          <input type="hidden" name="location" id="f-location">
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <button type="submit" id="save-search" disabled class="btn btn-primary">Save</button>
      </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
    
  // filters
  var positions = document.getElementById('positions');
  var industries = document.getElementById('industries');
  var locations = document.getElementById('locations');

  // update the hidden textfields with the values of the filters
  function update_hidden_fields() {
    // positive positions
    let i = 0;
    let s = '';
    filtersJs.getPositiveValues(positions).forEach(function(value) {
      if (i>0) { s += ','; }
      s += value;
    });
    $('#f-position').val(s);
  }

  // 
  $(document).ready(function () {

    // draw filters
    filtersJs.draw(positions, {
      label: 'Positions',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    filtersJs.draw(industries, {
      label: 'Industries',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      allowed_values: ['<%=Leads::FlIndustry.order(:name).all.map { |o| o.name.encode_html }.join("', '")%>'],      
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    filtersJs.draw(locations, {
      label: 'Locations',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    // TODO: add filters
    
    // update hidden textfield when filter is changed
    update_hidden_fields();

    // modals
    $('.save_modal').hide();
    $('.export_leads').hide();
    $('#inputName').on('input', function(){
      if($(this).val() !== ''){
        $('#f-position').val($('#positive_positions').val())
        $('#f-location').val($('#positive_locations').val())
        $('#f-industry').val($('#positive_industries').val())
        $('#save-search').removeAttr('disabled');
      }else{
        $('#save-search').attr('disabled', 'disabled');
      }
    });
    $('#file_name').on('input', function(){
      if(validate_export_modal()){
        $('#save-export').removeAttr('disabled');
      }
      else{
        $('#save-export').attr('disabled', 'disabled');
      }
    });
    $('#export_checkbox').on('change', function(){
      if(validate_export_modal()){
        $('#save-export').removeAttr('disabled');
      }
      else{
        $('#save-export').attr('disabled', 'disabled');
      }
    });
    $('#no_of_contacts').on('input', function(){
      if(validate_export_modal()){
        $('#save-export').removeAttr('disabled');
      }
      else{
        $('#save-export').attr('disabled', 'disabled');
      }
    });
  }); // $(document).ready

  $('#reset-filters').on('click', function () {
    window.location.reload();
  });
  
  function validate_export_modal(){
    $('#e-position').val($('#positive_positions').val())
    $('#e-location').val($('#positive_locations').val())
    $('#e-industry').val($('#positive_industries').val())
    $('#export_only').val($("#export_checkbox").is(':checked'))

    if ($('#file_name').val() !== '') {
      if( $("#export_checkbox").is(':checked')  && $('#no_of_contacts').val() !== ''){
        return true;
      }
      else return !$("#export_checkbox").is(':checked');
    } else {
      return false;
    }
  };
</script>
