<%#

  # q0 = "
	# SELECT l.id as id
	# FROM \"fl_lead\" l
	# WHERE l.delete_time IS NULL
	# AND u.name LIKE '%#{"h".to_s.to_sql}%'
	# AND u.email LIKE '%#{"h".to_s.to_sql}%'
	# AND COALESCE(u.phone, '') LIKE '%#{"0".to_s.to_sql}%'
  # "

  # # query to bring page rows
  # q = "
  # #{q0}
	# ORDER BY #{order_column} #{order_direction}
	# LIMIT #{page_number*page_size}
	# OFFSET #{(page_number.to_i - 1) * page_size.to_i}
  # "

  # # build the array of objects
  # leads = []
  # DB[q].each { |row|
  #   lead = Leads::FlLead.where(:id=>row[:id]).first
  #   raise "Lead `#{row[:id]}` not found" if lead.nil?
  #   leads << lead
  #   # release resources on each iteration
  #   GC.start
  #   DB.disconnect
  # }

%>



<section class="container box">
  <section class="row-fluid">
    <section class='span6'>
      <%=nav1("Results")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <!-- TODO: add buttons here -->
      <button>Get Free Credits</button>
      <button>Search</button>
    </section>
	</section>

  <br><br>

  <form id="search-form" action="/leads/filter_results" method="post">

    <section class="row-fluid">
      <section class="span4">
        <div id='job_title'></div>
      </section>
      <section class='span8' style='text-align:right;'>
        <button>Export Leads</button>
      </section>
    </section>

    <section class="row-fluid">
      <section class="span4">
        <div id='locations'></div>
      </section>
      <section class='span8'>

      </section>
    </section>

    <section class="row-fluid">
      <section class="span4">
        <div id='industry'></div>
        <button>Clear Filter</button>
        <button onclick="" type="submit">Search</button>
      </section>
      <section class='span8' style='text-align:right;'>
        <table class="table table-bordered">
          <thead>

          <tr>
            <div class="pull-right">
              <div class="span8">
                <input type='text' class='input-block-level select-all-on-focus' id='search_filter' name='search_filter'/>
              </div>

              <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
                <i class='icon-search'></i> Search
              </button>
            </div>
          </tr>

          <tr>
            <th>Name <i class="icon-sort-up"></i></th>
            <th>Position </th>
            <th>Location</th>
            <th>Email</th>
            <th>Phone No.</th>
          </tr>

          </thead>
          <tbody>

          <tr>
            <td>10 Jun 2019 12:30pm</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
          </tr>

          <tr>
            <td>10 Jun 2012 11:30pm</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
          </tr>

          <tr>
            <td>10 Jun 2019 12:31pm</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
            <td>this is some description</td>
          </tr>

          </tbody>
        </table>
        <div class="pagination"></div>
        <br>
        <button>Save Search</button>
      </section>
    </section>

<!--    <section class="row-fluid">-->
<!--      <section class="span4">-->
<!--        <button>Clear Filter</button>-->
<!--        <button type="submit">Search</button>-->
<!--      </section>-->
<!--      <section class='span8' style='text-align:right;'>-->
<!--        <button>Save Search</button>-->
<!--      </section>-->
<!--    </section>-->

  </form>


</section>

<script type="text/javascript" charset="utf-8">

    let job_title = document.getElementById('job_title');
    let locations = document.getElementById('locations');
    let industry = document.getElementById('industry');


    let industries_hash = []
    <% Leads::FlIndustry.all.each do |industry| %>
        industries_hash["<%= industry.name %>"] =  "<%= industry.id %>"
    <% end %>

    let locations_hash = {};
    <% Leads::FlLocation.all.each do |location| %>
        locations_hash["<%= location.name %>"] = "<%= location.id %>"
    <% end %>

    filtersJs.draw(job_title, {
        label: "Job Title",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
    });


    filtersJs.draw(locations, {
        label: "Locations",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
        allowed_values: Object.keys(locations_hash),
    });

    filtersJs.draw(industry, {
        label: "Industry",
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
        allowed_values: Object.keys(industries_hash),
    });


    $(document).ready(function () {
        $("#search-form").submit(function (event) {

            event.preventDefault();

            let job_positions_positive = filtersJs.getPositiveValues(job_title);
            let job_positions_negative = filtersJs.getNegativeValues(job_title);

            let locations_positive = jQuery.map( filtersJs.getPositiveValues(locations), function( a ) {
                return locations_hash[a.trim()];
            });
            let locations_negative = jQuery.map( filtersJs.getNegativeValues(locations), function( a ) {
                return locations_hash[a.trim()];
            });

            let industries_positive = jQuery.map( filtersJs.getPositiveValues(industry), function( a ) {
                return industries_hash[a.trim()];
            });
            let industries_negative = jQuery.map( filtersJs.getNegativeValues(industry), function( a ) {
                return industries_hash[a.trim()];
            });

            let formData = {
                job_positions_positive: job_positions_positive,
                job_positions_negative: job_positions_negative,
                locations_positive: locations_positive,
                locations_negative: locations_negative,
                industries_positive: industries_positive,
                industries_negative: industries_negative,
            };

            console.log(formData);

            $.ajax({
                type: "POST",
                url: "/leads/filter_results",
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
            });

        });
    });



    // draw pagination

    function drawPagination(o, current_page, total_pages) {
        url = '?number='; // url to get the next page

        o.html("");
        u = $("<ul></ul>");
        o.append(u);

        if (current_page>1) {
            li = $('<li><a href="'+url+(current_page-1).toString()+'">Prev</a></li>');
        } else {
            li = $('<li class="disabled"><a href="#">Prev</a></li>')
        }
        u.append(li);

        i=1
        i_prev = 1
        while (i<=total_pages) {
            if (i==current_page) {
                sClassActive="class='active'"
            } else {
                sClassActive=""
            }
            if ( i==1 || i==total_pages || (i>=current_page-2 && i<=current_page+2) ) {
                if (i>i_prev+1) {
                    li = $('<li><span>...</span></li>')
                    u.append(li)
                }
                li = $('<li '+sClassActive+'><a href="'+url+i.toString()+'">'+i.toString()+'</a></li>')
                u.append(li)
                i_prev=i
            }
            i=i+1
        }

        if (current_page<total_pages) {
            i = $('<li><a href="./'+url+(current_page+1).toString()+'">Next</a></li>');
        } else {
            i = $('<li class="disabled"><a href="#">Next</a></li>')
        }
        u.append(i);
    }

<!--    drawPagination($(".pagination"), <%#=page_number%>, <%#=1%>);-->

</script>