<%
  all = "
	SELECT s.id, s.name, s.description, s.create_time, s.delete_time
	FROM fl_search s where s.name is NOT NULL AND s.delete_time is NULL
"

  page_size = 25
  total_rows = DB[all].count
  total_pages = (total_rows.to_f/page_size.to_f).ceil
  # if there is a GET parameters `number` on the URL, update the user preference regarding the page number on this screen
  # then, get user preferences regarding the page number on this screen
  page_number = @login.user.preference("developers.tables.basics.pagination.page", 1, params[:number].nil? ? nil : params[:number].to_i)
  # pagination correction to prevent glitches
  page_number = 1 if page_number < 1
  page_number = total_pages if page_number > total_pages
  # calculate info for showing at the bottom of the table
  from_row = (page_number.to_i-1) * page_size.to_i + 1
  to_row = [page_number*page_size, total_rows].min
  filter_search = @login.user.preference("leads.saved_searches.filter.name", "", params[:search_filter])

    all += "
    AND s.name LIKE '%"+filter_search.to_s.to_sql+"%'
    " if filter_search.to_s.length > 0



  q = "
  "+all+"
	LIMIT "+(page_number*page_size).to_label+"
	OFFSET "+((page_number.to_i - 1) * page_size.to_i).to_label+"
  "
%>

<div class="mynavbar mysticky">
  <section class="row-fluid">
    <div class="span6">
      <%=nav2("Leads", "/leads/results", "Saved Searches")%>
    </div>
  </section>
</div>


<section class="row-fluid">
  <div class='span11 box'>
    <p><b>Records:</b> <%=from_row.to_label%> to <%=to_row.to_label%> <b>of</b> <%=total_rows.to_label%></p>
  <table class="table table-bordered">
    <thead>

    <tr>
      <form action="/leads/saved_searches" method="get">
      <div class="pull-right">
          <div class="span8">
            <input type='text' class='input-block-level select-all-on-focus' value="<%= filter_search %>" id='search_filter' name='search_filter'/>
          </div>

          <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
            <i class='icon-search'></i> Search
          </button>
      </div>
      </form>
    </tr>

    <tr>
      <th>Saved on <i class="icon-sort-up"></i></th>
      <th>Description </th>
      <th>Delete</th>
    </tr>

    </thead>
    <tbody>

    <%
      DB[q].all do |row|
    %>
      <% puts row.inspect %>
      <tr>
        <td><%= row[:create_time] %></td>
        <td><%=row[:description]%></td>
        <td>
          <a class='btn btn-danger' title='Delte' href='/leads/filter_delete_saved_search?id=<%= row[:id].to_guid %>'>
            Delete
          </a>
        </td>
      </tr>
    <%
      end
    %>

    </tbody>
  </table>
    <div class="pagination"></div>
    <script>
        drawPagination($(".pagination"), <%=page_number%>, <%=total_pages%>);
    </script>
  </div>
</section>
