<!-- Modal Exports Leads-->
<div class="modal fade export_leads" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Exports Contacts</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">Contacts per Company</div>
    <div class="radio">
      <label><input type="radio" name="optradio" checked>Multiple (Recommended)</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" >One</label>
    </div>
    <div style="margin-top: 5px;">Total Contacts </div>
    <div>
      <div class="radio">
        <label><input type="radio" name="optradio1">Export only first <input type="text" name="no_of_contacts" placeholder="102">
          contacts</label>
      </div>
    </div>
    <div class="row-fluid">Name your file
      <input type="text" name="file_name" placeholder="sample">
      .csv
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>

<section class="row-fluid">
  <div class="span4">

    <div class="span12" style="margin-bottom: 5px; margin-left: -15px">
      <h3 class="box-header">
        <i class="icon-filter"></i>
        Filters
      </h3>
    </div>

      <div class="control-group span12">
        <label class="control-label" for="jobposition">Job Title</label>
        <div class="controls">
          <div class="row-fluid">
            <div class="span8">
              <input type="text" class="awesomplete input-large" name="jobposition" list="jobpositions_list" id="jobposition" placeholder="Job title">
              <input type="hidden" name="jobpositions_transcription" id="jobpositions_transcription" value="">
              <datalist id="jobpositions_list">
                <option>CEO</option>
                <option>Owner</option>
                <option>Founder</option>
                <option>VP</option>
                <option>MD</option>
                <option>General Manager</option>
                <option>Manager</option>
                <option>Director</option>
                <option>President</option>
                <option>Board Member</option>
                <option>Chairman</option>
                <option>Advisor</option>
              </datalist>
              <p class="smaller-text">Press ENTER to add the position. Or use the include/exclude buttons.</p>
            </div>
            <div class="span4">
              <button id="btnPositionI" class="btn btn-mini btn-blue" type="button" onclick="addJobPosition(true)"
                      disabled><i class="icon-plus"></i>
                Include</button>
              <button id="btnPositionE" class="btn btn-mini btn-red" type="button" onclick="addJobPosition(false)"
                      disabled><i class="icon-minus"></i>
                Exclude</button>
            </div>
          </div>
          <div id='jobpositions' name='jobpositions'>
            <%=jobpositions.encode_html%>
          </div>
        </div>
      </div>

    <div class="control-group span12">
      <label class="control-label" for="lnindustry">Industry</label>
      <div class="controls">
        <div class="row-fluid">
          <div class="span8">
            <input type="text" class="awesomplete input-large" name="lnindustry" id="lnindustry"
                   list="industry_list" placeholder="Industries">
            <input type="hidden" name="industries_transcription" id="industries_transcription"
                   value="">
            <datalist id="industry_list">
              <% BlackStack::LnIndustry.order(:name).all do |lnindustry| %>
                <option value='<%=lnindustry.code.encode_html%>'>
                  <%=lnindustry.name.encode_html%>
                </option>
                  <% end %>
                  <%
                    GC.start
                    DB.disconnect
                  %>
            </datalist>
            <p class="smaller-text">Press ENTER to add the lnindustry. Or use the
              include/exclude buttons.</p>
          </div>
          <div class="span4">
            <button id="btnIndustryI" class="btn btn-mini btn-blue" type="button" onclick="addIndustry(true)"
                    disabled><i class="icon-plus"></i>
              Include</button>
            <button id="btnIndustryE" class="btn btn-mini btn-red" type="button" onclick="addIndustry(false)"
                    disabled><i class="icon-minus"></i>
              Exclude</button>
          </div>
        </div>
        <div id='lnindustries' name='lnindustries'>
          <%=lnindustries.encode_html%>
        </div>
      </div>
    </div>

    <div class="control-group span12">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <div class="row-fluid">
          <div class="span8">
            <input type="text" class="awesomplete input-large" name="location" id="location" list="locations_list" placeholder="Locations">
            <input type="hidden" name="locations_transcription" id="locations_transcription" value="">
            <datalist id="locations_list">
              <%BlackStack::LnLocation.availables.each { |row| %>
                <option value='<%=row[:code].encode_html%>'>
                  <%=row[:name].encode_html%>
                </option>
              <%}%>
            </datalist>
            <p class="smaller-text">Press ENTER to add the location. Or use the
              include/exclude buttons.</p>
          </div>
          <div class="span4">
            <button id="btnLocationI" class="btn btn-mini btn-blue" type="button" onclick="addLocation(true)"
                    disabled><i class="icon-plus"></i>
              Include</button>
            <button id="btnLocationE" class="btn btn-mini btn-red" type="button" onclick="addLocation(false)"
                    disabled><i class="icon-minus"></i>
              Exclude</button>
          </div>
        </div>
        <div id='lnlocations' name='lnlocations'>
          <%=lnlocations.encode_html%>
        </div>
      </div>
    </div>

    <button class="btn btn-success pull-right" href="#"> Search</button>
  </div>

  <div class="span8" >

    <div class="span12" style="padding-right: 50px;">

      <div class="span5" style="margin-bottom: 5px; margin-top: 10px;">
<!--        <h3 class="box-header">-->
<!--          <i class="icon-signal"></i>-->
<!--          Results-->
<!--        </h3>-->
            <div class="counter-label" style="margin-right: 5px"> 897 No. of Results - 97 No. of companies</div>
      </div>


      <section class="row-fluid">
        <div class='span12 box'>

          <table class="table table-bordered">

            <thead>
              <tr>
                <div class="pull-right">
                  <div class="span8">
                    <input type='text' class='input-block-level select-all-on-focus' id='search_filter' name='search_filter'/>
                  </div>
                  <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
                    <i class='icon-search'></i> Search
                  </button>
                </div>
              </tr>

              <tr>
                <th>Name <i class="icon-sort-up"></i></th>
                <th>Position <i class="icon-sort-up"></i></th>
                <th>Location <i class="icon-sort-up"></i></th>
                <th>Email <i class="icon-sort-up"></i></th>
                <th>Phone <i class="icon-sort-up"></i></th>
              </tr>

            </thead>

            <tbody>
              <tr>
                <td>Jordy</td>
                <td>CCT</td>
                <td>Canada</td>
                <td>test@example.com</td>
                <td>+923046080948</td>
              </tr>

              <tr>
                <td>Ecardi</td>
                <td>Lab Attender</td>
                <td>Canada</td>
                <td>test@example.com</td>
                <td>+923046080948</td>
              </tr>

              <tr>
                <td>Sami</td>
                <td>IT Manager</td>
                <td>Dubai</td>
                <td>test@example.com</td>
                <td>+923046080948</td>
              </tr>

            </tbody>
          </table>

          <div class="pagination"></div>

        </div>
      </section>

      <script>
          // setup pagination control
          drawPagination($(".pagination"), 1,3, 'saved_searches');

      </script>

    </div>

    <div class="pull-right" style="padding-right: 50px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".save_modal">Save Search</button>
    </div>

    <!-- Modal Save Search-->
    <div class="modal fade save_modal" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Save this search</h3>
      </div>
      <div class="modal-body">

        <p>Enter description for saved search</p>
      <div class="span12">
        <textarea class="span11" rows="3" id="textarea-limit"></textarea>
      </div>

      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save</a>
      </div>
    </div>

  </div>
</section>