<%
selected_positions = @login.user.preference('leads.wizard.job_positions', '', nil).split(/,/)
err = params[:err]
%>

<% 
if !err.nil? 
%>
	<div class="alert alert-error">
		<%=err.to_s.encode_html%>
	</div>
<% 
end # err
%>

<section class="box" height='500px' align='center' valign='middle'>
	<br/>
	<section class='row-fluid'>
		<p style='font-size:28pt'><b>STEP 1:</b> Filter by Job Position</p>
	</section>
	<br/>
	<section class='row-fluid'>
		<p style='font-size:14pt'>Choose One Or More Of The Available Job Positions.</p>
	</section>
	<br/>
	<form method='post' action='/leads/filter_step1'>
		<section class='row-fluid'>
			<table align='center' valign='middle' cellspacing="1px" cellpadding="5px">
				<tr valign='middle' style='vertical-align:middle;' >
				<%
				n = 0
				Leads::JOBPOSITIONS.each { |pos|
					checked = selected_positions.include?(pos) ? 'checked' : ''

					if n % 3 == 0
						%>
						</tr>
						<tr valign='middle' style='vertical-align:middle;' >
						<%
					end

					%>
					<td width='50px' style='vertical-align:middle;' align='center'><input type='checkbox' style='font-size:28pt;transform:scale(2.5, 2.5);' value='<%=pos%>' id='<%=pos%>' name='<%=pos%>' <%=checked%>></td>
					<td width='50px' style='vertical-align:bottom;' align='left'><p style='font-size:14pt'><%=pos%></p></td>
					<td width='50px'></td>

					<%
					n +=1
				} # while
				%>
				</tr>
			
				<tr valign='middle'>
					<td align='right' colspan=8>
						<br/>
						<p style='font-size:11px;'>Need Custom Job Position? <a href='/leads/offer'><b>Try Premium <i class="icon-long-arrow-right"></i></b></a></p>
					</td>
				</tr>
			</table>
		</section>	
		<br/>
		<section class='row-fluid text-right'>
			<button class="btn btn-primary btn-large" id="step1-next" disabled>Next <i class="icon-long-arrow-right"></i></button>&nbsp;&nbsp;
		</section>
	</form>
</section>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		set_button_state();
		$("input[type='checkbox']").on('change', function() {
			set_button_state();
		});

	});

	function validate_checkbox(){
		return $('input[type="checkbox"]:checked').length > 0;
	}

	function set_button_state(){
		if (validate_checkbox() === true)
		{
			$("#step1-next").removeAttr("disabled");
		}
		else
		{
			$("#step1-next").attr("disabled","disabled");
		}
	}
</script>